{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">	
	<head>
        <title>{% block title %} VideoClub DAW {% endblock %} </title>
        <meta charset="utf-8">
   		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
   		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
 	    <meta name="description" content="Practica Web">
   	 	<meta name="author" content="Maria Ramirez y Nuria Gutierrez">
        
   		<!-- Custom styles -->
   		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   		<link rel="stylesheet" href="{% static 'css/estilo2.css' %}">
	  
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<!-- Scrip: Inicio de Sesión -->

   </head>

   <body>

 {% block header %} 
 <div class="container-fluid">
	 <nav class="navbar navbar-inverse">
	   <div class="container-fluid">
	    <ul class="nav navbar-nav">
	       <li class="navbar-left"><a data-toggle="modal" data-target="#myModal1">Ayuda</a></li>      
	    </ul>
	     <ul class="nav navbar-nav">
	       <li class="navbar-left"><button type="button" class="btn btn-default navbar-btn"><a href="{% url 'pagVideoclub:videoclub' %}">Inicio</a></li>      
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      {% if  user.get_username == "admin"  %}
		  <li><button type="button" class="btn btn-default navbar-btn"><a href="{% url 'administracion:admin' %}">Administración</a></button></li>
		  {% endif %}
	      <li><a><span class="glyphicon glyphicon-user"></span> Hola, {{ user.get_username }}</a></li>
	      <li><a href="{% url 'pagVideoclub:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a></li>
	    </ul>
	  </div>
	</nav>
	<div class="modal fade" class="modal-dialog" id="myModal1" role="dialog">
	  <div class="modal-dialog">
	     <div class="modal-content text-center" ">
	 		 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			 <span aria-hidden="true">&times;</span></button>
			 <p><h4 style="color:#1ABC9C">¿Necesitas ayuda?</h4></p>
			 <p style="font-size:12pt">Para cualquier consulta escribe a <strong>practicanym@gmail.com</strong>, ¡estaremos encantadas de ayudarte!</p>						  
			 
		</div>
	  </div>
    </div>
   </div>

	
	<div class="container">
	  <div class="row" align="center">
        <div class="col-md-8" align="right"><p  style="font-size:60pt; font-family:Chalkduster; color:black">Daw Movie</p></p></div>
        <div class="col-md-4"  align="left"><img class="alignright" src="https://icon-icons.com/icons2/810/PNG/512/cinema_popcorn_icon-icons.com_66128.png" width="100px"></div>
      </div>
	  <div class="row" align="center">
		<div class="col-md-12">
		<form id="searchform" action="{% url 'pagVideoclub:search' %}" method="get">
		   <ul class="input-group col-md-6">
		  	 <input class="form-control" id="searchbox" name="titulo" type="text" placeholder="Buscar" aria-label="Buscar">
		  	 <span class="input-group-btn"><button class="btn btn-info btn-md" type="searchbutton" "><i class="glyphicon glyphicon-search"></i></button></span>
		   </ul>
		</form>
		 </div>
	   </div>
	</div>
	{% endblock %}
	
		{% block content %} 
 		{% endblock %}
 	
 		{% block footer %} 
 		<hr aline="center" size="4" width="600" color="#95A5A6"/>
		<div class="container text-center">
			<span style="font-family:Calibri (Cuerpo); font-size:14px; color:#000">Universidad Politécnica de Madrid
			<p>2017-2018</p></span>
		</div>
		
		{% endblock %}
	</body>
</html>